<html>
  <head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="/css/style.css">
    <title>{{{title}}}</title>
  </head>
  <body>

    <div class="app">
      <header class="test">
        {{> header}}
      </header>

      {{{body}}}
      <footer>
        {{> footer}}
      </footer>
    </div>

  </body>
</html>